@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  background: radial-gradient(
    circle at 50% 50%,
    #05051a 0%,
    #080c33 50%,
    #141c63 80%,
    #1a2458 95%,
    #05051a 100%
  );
  background-repeat: no-repeat;
}

:root {
  --colorWhite: white;
  --colorBlack: black;
  --grayColorForInput: #050523;
  --paragraph-color: #8d8d8d;
  --colorWhiteHover: #f5f5f5;
  --colorBlackHover: #272727f3;
  --colorBlackOpacity: #b3b3b3;
  --colorBlackborder: #00000010;
  --colorBlackborder: #00000020;
  --oldPrice: #00000040;
  --heroBgColor: #f2f0f1;
  --productContainerColor: #f0eeed;
  --productContainerColorHover: #cccccc;
  --inputBorder: #dddddd;
  --footerHover: #8b81f8;
}
